
:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
  }
body {
  height: 400vh;
}

::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track{
  background: #dddd;
}
::-webkit-scrollbar-thumb{
  background:#000000;
}
