body {
    color: #fafafa;
    font-size: 1.5rem;
    font-family: "Edu SA Beginner Regular", sans-serif;
}

.main-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 640px;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("../img/main-background.jpg");
    background-size: cover;
    background-position: center;
}

.main-wrap .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.main-wrap .content-wrap .content-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.content-image::before {
    content: "";
    position: absolute;
    inset: -80px;
    background: conic-gradient(#f3d0a7 30deg, transparent 120deg);
    animation: rotate 2s linear infinite;
}

.content-image::after {
    content: "";
    position: absolute;
    inset: 6px;
    background-image: url("../jpg/main-duck.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

@keyframes rotate {
    to {
        transform: rotate(-360deg);
    }
}

.main-wrap .content-wrap .content-title {
    margin-top: 3.6rem;
    margin-bottom: 1.2rem;
    font-size: 3.6rem;
}

.main-wrap .content-wrap .content-links {
    display: flex;
    gap: 12px;
    font-size: 2.8rem;
}

.main-wrap .content-wrap .content-links .content-link {
    opacity: 0.6;
    cursor: pointer;
}

.main-wrap .content-wrap .content-links .content-link:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

.main-wrap #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
}
